# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



Content/Misc/StarterContent

Content/Characters/ThirdPerson

Content/Characters/ThirdPersonBP

Intermidiate/

Saved/

Intermediate/

Content/InfinityBladeWeapons/

Content/Characters/Mannequin/Animations/

Content/Characters/Mannequin/Character/

Content/ParagonKhaimera/Characters/Global/

Content/ParagonKhaimera/Characters/Maps/

Content/ParagonKhaimera/Characters/Heroes/Khaimera/Abilities/

Content/ParagonKhaimera/Characters/Heroes/Khaimera/Materials/

Content/ParagonKhaimera/Characters/Heroes/Khaimera/Skins/

Content/ParagonKhaimera/Characters/Heroes/Khaimera/Sounds/

Content/ParagonKhaimera/Characters/Heroes/Khaimera/Textures/

Content/ParagonKhaimera/Characters/Heroes/Khaimera/AnimationTestMap\.umap

Content/ParagonKhaimera/Characters/Heroes/Khaimera/KhaimeraPlayerCharacter\.uasset

Content/ParagonKhaimera/FX/
